<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>


    <script type="text/javascript">
        function clicksale(e) {

            var brand = e.getAttribute("brand");
            var conditionId = e.getAttribute("conditionId");
            $.ajax({
                url: '/mercari/item/interest?brand=' + brand + '&conditionId=' + conditionId + '&saleStatus=' + e.checked,
                type: 'get',
                dataType: 'json',
                async: false,
                // data : {'userName':userName},
                success: function (itemList) {


                    $("#itemTableBody").html('')
                    for (var i in itemList) {
                        $("#itemTableBody").append(
                            "<tr><td>" + i +
                            "</td><td>" + itemList[i].mercariItemId +
                            "</td><td><a href='https://jp.mercari.com/item/" + itemList[i].mercariItemId + "' target='_blank'>" + itemList[i].mercariItemTitle + "</a>" +

                            "</td><td><img src='http://static.mercdn.net/c!/w=240,f=webp/thumb/photos/" + itemList[i].mercariItemId+ "_1.jpg'>" +
                            "</td><td>" + itemList[i].originPrice +
                            "</td><td>" + itemList[i].currentPrice +
                            "</td><td><a className='btn btn-sm btn-primary' href='@{https://meilu.jpshuntong.com/item/" +  itemList[i].mercariItemId + "target='_blank'>手机</a>" +
                            "<a className='btn btn-sm btn-primary' href='@{https://meilu.jpshuntong.com/item/" +  itemList[i].mercariItemId + "target='_blank'>电脑</a>" +

                            "</td><td><a className='btn btn-sm btn-primary' href='@{/mercari/setInterest?interest=0&itemId="+itemList[i].mercariItemId +
                            " target='_blank'>不再关注</a>"+
                            "</td><td>"+itemList[i].soldStatus +
                            "</td>"

                        )
                    }

                }
            });

        }

    </script>
</head>
<body style="zoom: 2">
<!--th:text 为 Thymeleaf 属性，用于在展示文本-->
<h1 th:text="煤炉助手">欢迎您访问静态页面 HTML</h1>

<!--<script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>-->

<div id="salechoose">
    <input id="salebox" type="checkbox" name="正在出售" th:attr="brand=${brand},conditionId=${conditionId}" onclick="clicksale(this)">
    正在出售
</div>

<div class="table-responsive">
    <table class="itemTable" id="itemTable" border='1'>
        <thead>
        <tr>
            <th>序号</th>
            <th>煤炉id</th>
            <th>标题</th>
            <th>图片</th>
            <th>原始价格</th>
            <th>当前价格</th>
            <th>购买</th>
            <th>不再关注</th>
            <th>销售状态</th>
        </tr>
        </thead>
        <tbody id="itemTableBody">

        <tr th:each="item:${itemList}">
            <td th:text="${itemStat.index}"></td>
            <td th:text="${item.mercariItemId}"></td>
            <td><a th:href="'https://jp.mercari.com/item/' + ${item.mercariItemId}" th:text="${item.mercariItemTitle}" target='_blank'></a></td>
            <td><img th:src="'http://static.mercdn.net/c!/w=240,f=webp/thumb/photos/' + ${item.mercariItemId} + '_1.jpg'"></td>
            <td th:text="${item.originPrice}"></td>
            <td th:text="${item.currentPrice}"></td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{https://meilu.jpshuntong.com/item/}+${item.mercariItemId}"  target='_blank'>手机</a>

                <a class="btn btn-sm btn-primary" th:href="@{https://meilu.jpshuntong.com/item/}+${item.mercariItemId}"  target='_blank'>电脑</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{/mercari/setInterest?interest=0&itemId=}+${item.mercariItemId}"  target='_blank'>不再关注</a>
                <!--                <button th:attr="del_uri=@{/mercari/setInterest?interest=0&itemId=}+${item.mercariItemId}" class="btn btn-sm btn-danger deleteBtn">不再关注-->
                <!--                </button>-->
            </td>
            <td th:text="${item.soldStatus}"> </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>